<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <title>Hello Spring</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:replace="fragments/header :: header"> </header>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="h1-responsive font-weight-bold text-center my-4">Bienvenu sur LoL DashBoard</h2>
<!--      <form th:action="@{/hello}" method="post" class='bd-example'>-->
<!--      <div class="mb-3">-->
<!--        <label for='name' class="form-label"> Nom User: </label>-->
<!--        <input type='text' th:value="${name}" class="form-control" name='name' id='name' required>-->
<!--      </div>-->
<!--      <div class='form'>-->
<!--        <input type='submit' class="btn btn-primary" value='submit'>-->
<!--      </div>-->
<!--      </form>-->
    </div>
  </div>
</div>
<footer th:replace="fragments/footer :: footer"> </footer>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>