<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Header</title>

    <link th:rel="stylesheet" th:href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"/>

</head>
<body>

<footer th:fragment="footer" class="bg-primary text-center text-lg-start fixed-bottom">
    <div class="d-flex justify-content-around py-3">
        <a href="#" class="text-dark">Mentions Légales</a>
        <a href="#" class="text-dark">Aide</a>
        <a href="#" class="text-dark"> Contact</a>
        <a href="#" class="text-dark">A propos</a>
    </div>
</footer>

</body>>