<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:replace="fragments/header :: bootstrap">
    <meta charset="UTF-8"/>
    <title>Header</title>
</head>
<body>

<footer th:fragment="footer" class="bg-primary text-center text-lg-start fixed-bottom">
    <div class="d-flex justify-content-around py-3">
        <a th:href="@{/mentions}" class="text-dark">Mentions Légales</a>
        <a th:href="@{/aide}" class="text-dark">Aide</a>
        <a th:href="@{/contact}" class="text-dark"> Contact</a>
        <a th:href="@{/a-propos}" class="text-dark">A propos</a>
    </div>
</footer>

</body>>