<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Team Home </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  th:replace="fragments/header :: bootstrap" rel="stylesheet" href="">
</head>
<body>
<header th:replace="fragments/header :: header"> </header>
<div class="container">
    <h1 class="text-center">Gérer votre équipe</h1>

    <tr th:each="hero: ${session.user.team.heroes}">
        <td th:text="${hero.id}" />
        <td th:text="${hero.name}" />
    </tr>





</div>
<footer th:replace="fragments/footer :: footer"> </footer>

</body>
</html>