<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Team Home </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  th:replace="fragments/header :: bootstrap" rel="stylesheet" href="">
</head>
<body>
<header th:replace="fragments/header :: header"> </header>
    <div class="container">
        <h1 class="text-center">Gérer votre équipe</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mt-5 text-center"><a href="">Ajouter un héros</a></li>
                        <li class="list-group-item mt-5 text-center"><a href="">Supprimer un héros</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="container-fluid">
                    <div class="row">
                        <div class="border border-light">
                            <h5 class="text-center">Mon équipe</h5>
                            <div class="d-flex">
                            <ul class="list-group list-group-horizontal-sm mx-auto mb-5 justify-content-center">
                                <li class="list-group-item">Héro 1</li>
                                <li class="list-group-item">Héro 2</li>
                                <li class="list-group-item">Héro 3</li>
                                <li class="list-group-item">Héro 4</li>
                                <li class="list-group-item">Héro 5</li>
                                <li class="list-group-item">Total Charme</li>
                            </ul>
                            </div>
                        </div>
                        <div class="card ml-3" style="width: 10rem;" th:each="hero: ${session.user.team.heroes}">
                            <img th:src="@{'/images/'+${hero.name}}+'_0.jpg'">
                            <div class="card-body">
                                <p th:text="${hero.id}"></p>
                                <h5 class="card-title" th:text="${hero.name}" >Card title</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer th:replace="fragments/footer :: footer"> </footer>

</body>
</html>