<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Team Home </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  th:replace="fragments/header :: bootstrap" rel="stylesheet" href="">
</head>
<body>
<header th:replace="fragments/header :: header"> </header>
<div class="container">

    <h1 class="text-center">Gérer votre équipe</h1>


    <p th:text="${hero.get.id}">Test</p>
    <p th:text="${hero.get.descritpion}">Test</p>

    <a th:href="@{/add-hero-validated(id=${hero.get.id})}">Add</a>

<footer th:replace="fragments/footer :: footer"> </footer>

</body>
</html>